<template>
<div>
    <div class="row">
        <div class="form-group col-md-2">
            <label>Data</label>
            <input type="date" name="date" id="date" class="form-control" v-model="date">
        </div>
        <div class="form-group col-md-3">
            <label>Centro de Custo</label>
            <select name="centercost" id="centercost" class="form-control"  v-model="centercost">
                <option v-for="line in certersCost" v-bind:key="line.id" v-bind:value="line.id">{{line.description}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>Categorias de Despesas</label>
            <select name="categoryexpense" id="categoryexpense" class="form-control"  v-model="categoryexpense">
                <option v-for="line in categoriesExpenses" v-bind:key="line.id"  v-bind:value="line.id">{{line.description}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Valor</label>
            <input type="text" name="value" id="value" v-model="value" @keypress="onlyNumber" class="form-control">
        </div>
        <div class="form-group col-md-2" >
            <button class="btn btn-default btn-block" style="margin-top: 25px" @click="add"> <i class="fa fa-plus"></i> Adicionar</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Despesa</th>
                        <th>Valor</th>
                        <th style="width: 100px; text-align: center;">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="list.length == 0">
                        <td colspan="2" class="text-center">Nenhuma despesa para exibir!</td>
                    </tr>
                    <tr v-for="(line,index) in list" v-bind:key="index" >
                        <td>{{line.categoryexpense_description}}</td>
                        <td>{{'R$ '+parseFloat(line.value).toFixed(2)}}</td>
                        <td class="text-center">
                            <button class="btn btn-danger btn-xs " @click="remove(index)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success" @click="save">Salvar</button>
        </div>
    </div>
</div>
</template>

<script>
import axios from "axios";
export default {
  mounted: function() {
    var self = this;
    setTimeout(function() {
      $("#centercost")
        .select2()
        .val(this.centercost)
        .trigger("change")
        .on("change", function(e) {
          $(this.$el)
            .val($(this).val())
            .trigger("change");
          self.centercost = this.value;
        });
      $("#categoryexpense")
        .select2()
        .val(this.categoryexpense)
        .trigger("change")
        .on("change", function(e) {
          self.categoryexpense = this.value;
        });
    }, 1000);

    this.chargeSelect();
  },
  data() {
    return {
      date: "",
      centercost: "",
      categoryexpense: "",
      value: "",
      list: [],
      certersCost: [],
      categoriesExpenses: []
    };
  },
  methods: {
    chargeSelect: function() {
      axios
        .get("/cadastros/centro-de-custos/list")
        .then(({ data }) => (this.certersCost = data));
      axios
        .get("/cadastros/categoria-de-despesas/list")
        .then(({ data }) => (this.categoriesExpenses = data));
    },
    onlyNumber($event) {
      let keyCode = $event.keyCode ? $event.keyCode : $event.which;
      if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {
        $event.preventDefault();
      }
    },
    remove: function(index) {
      this.list.splice(index, 1);
    },
    add: function() {
      if (
        this.value == "" ||
        this.date == "" ||
        this.centercost == "" ||
        this.categoryexpense == ""
      ) {
        alert("Preencha todos os campos corretamente!");
      } else {
        let id = this.categoryexpense;
        let category = this.categoriesExpenses.filter(data => data.id == id)[0];
        this.list.push({
          categoryexpense_id: category.id,
          categoryexpense_description: category.description,
          value: this.value
        });
        this.value = 0;
        this.categoryexpense = "";
        $("#categoryexpense")
        .select2()
        .val("")
        .trigger("change")
      }
    },
    save: function() {
      if (this.list.length == 0) {
        alert("Adicione pelo menos uma despesa!");
      } else {
        axios
          .post("/despesas/store", {
            date: this.date,
            list: this.list,
            centercost: this.centercost
          })
          .then(({ data }) => {
            if (data.status == true) {
              alert("Despesa salva com sucesso!");
              this.date = "";
              this.centercost = "";
              this.categoryexpense = "";
              this.value = "";
              this.list = [];
            }
          });
      }
    }
  }
};
</script>
